// .react-player {
//   margin: auto auto;
// }

// .react-player {
//   position: absolute;
//   top: 0;
//   left: 0;
// }

// .player-wrapper {
//   position: relative;
//   padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
// }

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.video {
  width: 55vw;
  margin: 45px auto 0px auto;
}
